@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(/pacote-projetp-espellhado/pacote-projeto-d010/fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
                    /*Cores so site*/
    --green-fort: rgb(26, 97, 0);
    --green-medio: rgb(14, 135, 14);
    --green-fraco:  rgb(196, 233, 212);

                    /*Fontes Gerais*/
    --title: "Macondo", cursive;
    --sub-title: 'android', sans-serif;
}


body {
    background-color: var(--green-fraco);
}

                    /*Cabecalho*/
header {
    background-color: var(--green-medio);
} & header > h1 {
     font-family: var(--title);
     font-weight: 900;
}

                    /*Barra de lateral*/
nav {
    background-color: var(--green-fort);
}
                    /*Corpo*/
main {
    max-width: 80%;
    margin: auto;
    background-color: white;
}
                    /*Extenção do Corpo*/
article {
    padding: 20px;
}
article > h1, h2{
    font-family: var(--sub-title);
} & article > h1 {
    font-size: 25px;
} & article > h2 {
    font-size: 20px;
}
                    /*Imagens*/
img {
    width: 100%;
} #bugdroid {
    max-width: 20%;
    min-width: 50%;
    margin: auto;
    display: block;
}
                    /*Videos*/  
iframe {
    display: block;
    margin: auto;
    width: 95%;
}