@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(/desafio-10/pacote-projetp-espellhado/pacote-projeto-d010/fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
                    /*Cores so site*/
    --green-5: rgb(10, 31, 3);
    --green-4: rgb(23, 70, 6);
    --green-3: rgb(29, 102, 5);
    --green-2: rgb(14, 135, 14);
    --green-1: rgb(145, 221, 178);

                    /*Fontes Gerais*/
    --title: "Macondo", cursive;
    --sub-title: 'android', sans-serif;
}


body {
    background-color: var(--green-1);
}

                    /*Cabecalho*/
header {
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--green-3), var(--green-5));
    color: white;
    text-align: center;
    padding-top: 40px;
} & header > h1 {
     font-family: var(--title);
     font-weight: 900;
     font-size: 3em;
     margin-bottom: 20px;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
} & header > p {
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

                    /*Barra de lateral*/
nav {
    background-color: var(--green-5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    padding: 10px;
} nav > a{
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 10px;
}
nav a:hover {
    background-color: var(--green-3);
    color: var(--green-5);
}

                    /*Corpo*/
main {
    max-width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

                    /*Extenção do Corpo*/
article {
    padding: 20px;
}
article > h1, h2{
    font-family: var(--sub-title);
} & article > h1 {
    font-size: 25px;
} & article > h2 {
    font-size: 20px;
}

                    /*Imagens*/
img {
    width: 100%;
} #bugdroid {
    max-width: 20%;
    min-width: 50%;
    margin: auto;
    display: block;
}

                    /*Videos*/  
iframe {
    display: block;
    margin: auto;
    width: 95%;
}